* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E7E6E1;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 60px;
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
    padding: 10px 10px;
    transition: background-color 1s ease;
}

.hamburger:hover {
    background-color: #F7F6E7;
}

.hamburger-stripe {
    background-color: #537791;
    height: 3px;
    margin-bottom: 5px;
}

.name {
    font-size: 36px;
}

.sub-heading {
    font-size: 24px;
}

.title {
    text-decoration: none;
    font-weight: bold;
    color: #537791;
}

img {
    margin: 25px 0px;
    width: 90%;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
}

.homepage {
    text-align: center;
}

.text-block {
    margin: auto;
    width: 80%;
}

p {
    margin: 0px 15px;
    font-size: 16px;
    text-align: left;
    color: #384956;
}

h2 {
    color: #384956;
    text-align: center;
    font-size: 36px;
}

h3 {
    color: #384956;
    text-align: center;
    font-size: 30px;
}

.about-image-container {
    text-align: center;
}

.desktop {
    display: none;
}

@media screen and (min-width: 925px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
    
    .background {
        background: url("https://i.imgur.com/X5FzDhC.jpg");
        background-size: 1100px;
        background-repeat: no-repeat;
    }

    .title {
        transition: color .5s ease;
    }

    .title:hover {
        color: #384956;
    }

    img {
        width: 30%;
    }

    .text-block {
        position: absolute;
        top: 25px;
        left: 55px;
        width: 40%;
    }

    .titles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 400px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-hide {
        display: none;
    }

    section {
        position: relative;
    }

    .about-image-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 1100px) {
    .background {
        background-size: 1400px;
    }

    .titles-container {
        width: 450px;
    }


}