* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E7E6E1;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 60px;
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
    padding: 10px 10px;
    transition: background-color 1s ease;
}

.hamburger:hover {
    background-color: #F7F6E7;
}

.hamburger-stripe {
    background-color: #537791;
    height: 3px;
    margin-bottom: 5px;
}

.name {
    font-size: 36px;
    color: #537791;
}

.title {
    font-size: 24px;
    color: #537791;
}

.lake-louise {
    margin: 25px 0px;
    width: 300px;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
}

.homepage {
    text-align: center;
}

p {
    margin: 0px 15px;
    font-size: 24px;
    text-align: left;
    color: #384956;
}

.desktop {
    display: none;
}

@media screen and (min-width: 500px) {
    .lake-louise {
        width: 450px;
    }
}

@media screen and (min-width: 850px) {
    .background {
        background: url("https://i.imgur.com/X5FzDhC.jpg");
        background-size: 1100px;
        background-repeat: no-repeat;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .titles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 400px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1100px) {
    .background {
        background-size: 1400px;
    }

    .titles-container {
        width: 450px;
    }
}