* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 0 50px 0;
    background-color: #E7E6E1;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    top: 0px;
}

.nav {
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
    padding: 10px 10px;
    transition: background-color 1s ease;
}

.hamburger:hover {
    background-color: #F7F6E7;
}

.hamburger-stripe {
    background-color: #537791;
    height: 3px;
    margin-bottom: 5px;
}

.name {
    font-size: 36px;
}

a {
    text-decoration: none;
}

.sub-heading {
    font-size: 24px;
}

.title {
    font-weight: bold;
    color: #537791;
}

img {
    margin: 25px 0px;
    width: 90%;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
}

.homepage {
    text-align: center;
}

.text-block {
    margin: auto;
    width: 80%;
}

p {
    margin: 0px 15px;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    color: #384956;
}

h2 {
    color: #384956;
    text-align: center;
    font-size: 36px;
}

h3 {
    color: #384956;
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

.snapshot-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.portfolio-snapshot {
    margin: 25px 0px;
    width: 90%;
    height: 90%;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
}

.more-info-container {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: auto;
}

.about-image-container {
    text-align: center;
}

.contact-container {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
}

.links {
    font-size: 24px;
    color: #384956;
    font-weight: bold;
}

.logo {
    width: 50px;
}

.desktop {
    display: none;
}

@media screen and (min-width: 925px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .background {
        height: 700px;
        width:1200px;
        background: url('https://i.imgur.com/X5FzDhC.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        -webkit-mask-image: -webkit-linear-gradient(top, rgba(247,246,231,1), rgba(247,246,231,0));
    }

    .homepage {
        position: relative;
        top: -700px;
    }

    .title {
        transition: color .5s ease;
    }

    .title:hover {
        color: #384956;
        font-weight: bolder;
    }

    img {
        width: 30%;
    }

    .homepage-text {
        position: absolute;
        top: 25px;
        left: 55px;
        width: 40%;
    }

    .titles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 400px;
    }

    .nav {
        position: relative;
        top: -700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    section {
        position: relative;
    }

    .portfolio-content {
        margin: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .portfolio-text {
        width: 45%;
    }

    .congress {
        margin-left: 25px;
    }

    .more-info-container {
        width: 25%;
    }

    .about-image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contact-container {
        width: 50%;
    }
}

@media screen and (min-width: 1100px) {
    .titles-container {
        width: 450px;
    }
}